.result {
  font-size: 0.5rem;
  width: 100%;
}

/*result-main*/
.result-main {
  border-left: 2px dotted black;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 480px) {
  .result-main {
    border-left: none;
  }
}

.result-main h1 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.result-main .result-main-contents .result-main-contents-pic {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  width: 75%;
}

.result-main .result-main-contents .result-main-contents-pic img {
  width: 100%;
}

.result-main .result-main-contents-des {
  width: 100%;
  margin-bottom: 0.5rem;
}

.result-main .result-main-contents-des p {
  line-height: 30px;
}

.result-main .result-main-contents-des iframe {
  width: 600px;
  height: 450px;
  max-width: 100%;
  margin: 20px 0;
}

.result-main .result-main-contents-des .social .google a {
  font-size: 0.8rem;
}

.result-main .result-main-contents-des .social .google a i {
  margin-right: 0.3rem;
}

.result-main .result-main-contents-des .social .google a span {
  color: black;
}

.result-main .result-main-contents-des .social .google a:hover {
  opacity: 0.7;
}

.result-main .result-main-contents-des .social p {
  margin-top: 0.5rem;
}

.result-main .result-main-contents-des .social p a {
  font-weight: 700;
  font-size: 1rem;
  display: inline-block;
  color: black;
}

.result-main .result-main-contents-des .social p a:hover {
  opacity: 0.7;
}

/*comment*/
.comment-contents {
  width: 100%;
}

.comment-contents #comment-name {
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.comment-contents #comment-name-area {
  max-width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.comment-contents #comment-textarea {
  width: 100%;
  max-width: 100%;
}

.comment-contents #comment-btn {
  font-size: 0.5rem;
  text-align: center;
  width: 50%;
  margin: 0.5rem auto;
  background-color: #b2d6fa;
  border-radius: 5px;
  border: 1px solid black;
  transform: translate(50%, 0);
}

.comment-contents #comment-btn:hover {
  opacity: 0.8;
}

.comment-contents .comment-display h3 {
  margin-bottom: 1rem;
}

.comment-contents .comment-display .comment-name {
  margin-bottom: 0.5rem;
}

.comment-contents .comment-display .comment-comment {
  margin-bottom: 0.5rem;
}

.comment-contents .comment-display .comment-created {
  font-size: 0.3rem;
  text-align: right;
  margin-bottom: 0.5rem;
}

/*result-side*/
.result-side {
  text-align: center;
  border-left: 2px dotted black;
  border-right: 2px dotted black;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 480px) {
  .result-side {
    border-right: none;
  }
}

.result-side .forecast {
  font-size: 0.8rem;
}

.result-side .forecast hr {
  padding: 0;
  margin: 0.4rem 0;
}

.result-side .result-forecast .time {
  margin-top: 1rem;
  font-size: 0.5rem;
}

.result-side .result-forecast p {
  font-size: 0.4rem;
}

.result-side .result-forecast .i-icon img {
  width: 50%;
}
